<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helmercapassola.challange_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Challange_app">
        <activity android:name=".agendactivity"></activity>
        <activity android:name=".Exercise3ctivity" />
        <activity android:name=".Exercise2ctivity" />
        <activity android:name=".Exercise1Activity" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".Listview" />
        <activity android:name=".Calculadora" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>